
@{
    ViewBag.Title = "Login";
}


@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <h1>Iniciar sesion</h1>
        <div class="mb-3">
            <label for="username" class="form-label">
                Ingrese usuario
            </label>
            <input type="text" class="form-control" name="username" />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">
                Ingrese contraseña
            </label>
            <input type="password" class="form-control" name="password" />
        </div>
        <button type="submit" class="btn btn-primary">Ingresar</button>

}